{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence SDA</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Officia quae pariatur at dolorum illum commodi est debitis itaque eum! Sapiente dolorum accusantium
        exercitationem.
        Placeat natus corporis sapiente molestiae veritatis similique?</p>
</div>
<div class="container">
    <h1>Les Derniens Biens</h1>
    <div class="row flex">
        {% for property in properties %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-color"><a
                            href="{{path('property_show',{'id':property.id, 'slug':property.slug})}}">{{property.title}}</a>
                    </h5>
                    <p class="card-text">{{property.city}}({{property.postalCode}})</p>
                    <div class="text-color price-config">{{property.FormattedPrice}} FC
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}