{% extends 'base.html.twig' %}

{% block title %}Admin-Home!{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Gerer Les Biens</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{property.title}}</td>
                <td class="admin-action"><a href="{{path('admin_property_edit',{'id':property.id})}}"
                        class="btn btn-secondary">Editer</a>
                    <form method="POST" action="{{path('admin_property_delete',{'id':property.id})}}"
                        style="display: inline-block;"
                        onsubmit="return confirm('Etes-vous vraiment sûr de supprimer?')">
                        {# On GENERE LE TOKEN AVEC LA FONCTION TWIG csrf_token()}#}
                        <input type="hidden" name="_token" value="{{csrf_token('delete'~ property.id)}}">
                        {#---------------------FIN--------------------------#}
                        {# On INSERE LA METHODE DELETE POUR QUE SYMFONY LE COMPRENNE #}
                        <input type="hidden" name="_method" value="DELETE">
                        {#---------------------FIN--------------------------#}
                        <button type="submit" class="btn btn-danger">Suprimmer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{path('admin_property_new')}}" class="btn btn-primary">Créer un nouveau bien</a>
    </div>

</div>
{% endblock %}