{% extends 'base.html.twig' %}

{% block title 'Biens  en detail'%}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <h3>{{property.title}}</h3>
                <h5>{{property.rooms}} -pièces {{property.surface}}</h5>
                <div class="text-color price-config">{{property.FormattedPrice}} FC <br>
                    <a href="#" class="btn btn-primary">Contacter l'agence</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p>{{property.description|nl2br}}</p>
    <div class="row">
        <div class="col-md-6">
            <h2>Caractéristiques</h2>
            <table class="table table-striped">
                <tr>
                    <th>Surface Habitable</th>
                    <td>{{property.surface}}</td>
                </tr>
                <tr>
                    <th>Pièces</th>
                    <td>{{property.rooms}}</td>
                </tr>
                <tr>
                    <th>Chambre</th>
                    <td>{{property.surface}}</td>
                </tr>
                <tr>
                    <th>Etage</th>
                    <td>{{property.bedrooms}}</td>
                </tr>
                <tr>
                    <th>Chauffage</th>
                    <td>{{property.heatTypecls}}</td>
                </tr>


                </thead>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Spécificités</h2>
        </div>
    </div>
</div>
{% endblock %}