<header>
    <!-- Header Start -->
    <div class="header-area header_area header-transparent" style="background:#010E21;">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-1 col-md-1">
                            <div class="logo">
                                <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{{ path('product_index')}}">Accueil</a></li>
                                        <li><a href="#">Services</a>
                                            <ul class="submenu">
                                                <li><a href="single-blog.html">Big Data</a></li>
                                                <li><a href="blog.html">Design</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Affiche</a></li>
                                                        <li><a href="#">Badge</a></li>
                                                        <li><a href="#">Logo</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="single-blog.html">Marketing Digital</a></li>
                                                <li><a href="single-blog.html">Programmation Desktop</a></li>
                                                <li><a href="single-blog.html">Programmation Web</a>
                                                </li>

                                                <li><a href="single-blog.html">Programmation Mobile</a></li>

                                            </ul>
                                        </li>

                                        <li><a href="{{path('blog_index')}}">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="{{path('blog_index')}}">Articles</a></li>
                                                <li><a href="single-blog.html">Dernières Articles</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">A propos</a></li>
                                        <!-- <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">Element</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="work.html">Devenir Vendeurs</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3">
                            {% if customer is defined and customer is not null %}
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="{{path('customer_logout')}}" class="btn header-btn">Deconnexion</a>
                            </div>
                            {% else %}
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="{{path('customer_login')}}" class="btn header-btn">Connexion</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>