{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="david-droga-area  pb-260 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">

                <div class="container mt-5">
                    <h1>Détail</h1>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ post.id }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ post.title }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ post.description }}</td>
                            </tr>
                            <tr>
                                <th>Posted</th>
                                <td>{{ post.posted ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>CreatedAt</th>
                                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('post_index') }}" class="genric-btn danger-border radius">Liste Articles</a>

                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="genric-btn info radius">Editer</a>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}